<link rel="stylesheet" href="{{ asset("Styles/LoginPageStyle.css") }}">
{% block title %}

{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}

<div class = "container">
    <div class="wrapper">
        <h3 class="form-signin-heading">Registration</h3>
        <hr class="colorgraph"><br>
        <title>Registration</title>
    {{ form_widget(
    form.username,
    {'attr': {
        'class': 'form-control',
        'placeholder': 'Username',
        'autofocus': 'true'
    }})
    }}
    {{ form_widget(
    form.email,
    {'attr': {
        'class': 'form-control',
        'placeholder': 'Email'
    }})
    }}

    {{ form_widget(
    form.plainPassword.first,
    {'attr': {
        'class': 'form-control',
        'placeholder': 'Password'
    }})
    }}

    {{ form_widget(
    form.plainPassword.second,
    {'attr': {
        'class': 'form-control',
        'placeholder': 'Repeat password'
    }})
    }}

        <button class="btn btn-lg btn-primary btn-login" type="submit">Create</button>
        <button class="btn btn-lg btn-primary btn-login" onclick="location.href='/'" type="button">Sign in</button>
    {{ form_end(form) }}

    {% if errors.count > 0 %}
        <div class="form-signin">
            {% for error in errors %}
                <div role="alert">
                    {{ error.getMessage() }}
                </div>
            {% endfor%}
        </div>
    {% endif %}
{% endblock %}
    </div>
</div>

