<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
        $(document).ready (function () {
            $(".quetions").bind("click", function (event) {
                const id = event.target.dataset.index;
                $.ajax({
                    url: "questionedit/del",
                    type: "GET",
                    data: ({id: id}),
                    success: function () {
                        $(`[data-index~=${id}]`).parent().parent().remove()
                    }
                })
            })
        });

        $(document).ready (function (){
            $(".Edit").bind("click",function (event) {
                const MyQuestion = event.target.dataset.index;
                trueAnswer=document.getElementsByClassName(MyQuestion);
                trueAns=0;

                for (i=0; i<trueAnswer.length;i++) {
                    if (trueAnswer[i].checked) {
                        trueAns=trueAnswer[i].value;
                    }
                }
                $.ajax({
                    url: "questionedit/edittrue",
                    type: "GET",
                    data: ({idAnswer: trueAns, idQuestion:MyQuestion}),
                })
            })
        });


        $(document).ready (function (){
             $("#Add").bind("click",function () {
                 input = document.getElementsByClassName('inputQuestion');

                 tryAnswer=document.getElementsByClassName('radioButton');
                 forGet = {};
                 for (i = 0; i < input.length; i++) {
                     z = input[i].name;
                     forGet[z] = input[i].value;
                 }

                 trueAns=0;

                 for (i=0; i<tryAnswer.length;i++) {
                     if (tryAnswer[i].checked) {
                         trueAns=tryAnswer[i].value;
                     }
                 }
                 $.ajax({
                     url: "questionedit/add",
                     type: "GET",
                     data: ({
                         questions: forGet['QuestionName'],
                         answer1:forGet['1stAnswer'],
                         answer2:forGet['2stAnswer'],
                         answer3:forGet['3stAnswer'],
                         answer4:forGet['4stAnswer'],
                         trueAnswer:trueAns
                     }),
                     //success:
                 })
             })
         });


    </script>
    <link rel="stylesheet" href="{{ asset("Styles/AdminPageStyle.css") }}">
</head>
<body>
<ul id="menu">
    <li id ="mainPage"><a href="{{ path('admin') }}">Main Page</a></li>
    <li id = "userPage"><a href="{{ path('admin/useredit') }}">User controller</a></li>
    <li id ="questionPage"><a href="{{ path('admin/questionedit') }}">Question controller</a></li>
    <li id ="quizPage"><a href="{{ path('admin/quizedit') }}">Quiz controller</a></li>
</ul>
</body>
<div>
    <table class="questionTable">
        <thead>
        <tr>
            <th class="RedWord">Question</th>
            <th>1st variant</th>
            <th>2st variant</th>
            <th>3st variant</th>
            <th>4st variant</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><input type="text" class="inputQuestion" placeholder="Question" required name="QuestionName"></td>
            <td><input type="text" class="inputQuestion" placeholder="Answer" required name="1stAnswer" ><input type="radio" name="1" value="1" class="radioButton"> </td>
            <td><input type="text" class="inputQuestion" placeholder="Answer" required name="2stAnswer" ><input type="radio" name="1" value="2" class="radioButton"></td>
            <td><input type="text" class="inputQuestion" placeholder="Answer" required name="3stAnswer" ><input type="radio" name="1" value="3" class="radioButton"></td>
            <td><input type="text" class="inputQuestion" placeholder="Answer" required name="4stAnswer"><input type="radio" name="1"  value="4" class="radioButton"></td>
            <td><button id="Add" type="submit">Add question</button></td>
        </tr>
        </tbody>

        {% for question in questions %}
        <thead>
            <tr>
                <td>{{ question.name_of_question }}</td>
                {% for answer in answers %}
                    {% if answer.Question_id.id==question.id %}
                        {% if answer.right_answer==1 %}
                        <td>{{ answer.name_of_answer }}<input type="radio" class={{ question.id  }} checked value="{{ answer.id }}" name="{{ question.id }}" id="trueAnswer"></td>
                        {% else%}
                            <td>{{ answer.name_of_answer }}<input type="radio" class={{ question.id  }} value="{{ answer.id }}" name="{{ question.id }}" id="trueAnswer"></td>
                    {%endif%}
                {% endif %}
                {% endfor %}
                <td><button data-index={{ question.id }} class="Edit" type="button">Edit</button><button data-index={{ question.id }} class="quetions" type="button">Delete</button></td>
            </tr>
        {% endfor %}
        </thead>
    </table>
</div>
</html>