<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3.jquery.min.js"></script>
    <script>
        $(document).ready (function () {
            $("#mainPage").bind("click",function () {
                $.ajax ({

                })
            })
        })
    </script>
    <link rel="stylesheet" href="{{ asset("Styles/AdminPageStyle.css") }}">
</head>
<body>
<ul id="menu">
    <li id ="mainPage"><a href="{{ path('admin') }}">Main Page</a></li>
    <li id = "userPage"><a href="{{ path('admin/useredit') }}">User controller</a></li>
    <li id ="questionPage"><a href="{{ path('admin/questionedit') }}">Question controller</a></li>
    <li id ="quizPage"><a href="{{ path('admin/quizedit') }}">Quiz controller</a></li>
</ul>
<div>
    <table>
        <thead>
        <tr>

            <th class="RedWord">Quiz</th>
            <th>1st question</th>
            <th>2st question</th>
            <th>3st question</th>
            <th>4st question</th>
            <th>5st question</th>
            <th>6st question</th>
            <th>7st question</th>
            <th>8st question</th>
            <th>9st question</th>
            <th>10st question</th>
        </tr>
        </thead>
        <tbody>
        {% for quizs in quiz %}
        <tr>
           <td>{{ quizs.name_of_quiz }}</td>
            {% for quizquetions in quizquetion %}
                {% if quizquetion.id_Quiz==quizs.id %}
                    {% for questions in question %}
                      {% if quizquestion.id_Question==questions.id %}
                        <td>{{ quizquetion.name_of_question }}</td>
                      {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
        </tbody>
        <tbody>

            <tr>
                <td><input type="text"></td>
                <td>
                    <input class="Quiz" list="1">
                    <datalist id="1">
                            {% for questions in question %}
                            <option value="{{ questions.name_of_question }}"></option>
                            {% endfor %}
                    </datalist>
                </td>
                <td>
                    <input class="Quiz" list="2">
                    <datalist id="2">
                        {% for questions in question %}
                            <option value="{{ questions.name_of_question }}"></option>
                        {% endfor %}</datalist></td>
                <td>
                    <input class="Quiz" list="3">
                    <datalist id="3">
                        {% for questions in question %}
                            <option value="{{ questions.name_of_question }}"></option>
                        {% endfor %}
                    </datalist></td>
                <td>
                    <input class="Quiz" list="4">
                    <datalist id="4">
                        {% for questions in question %}
                            <option class="character4" value="{{ questions.name_of_question }}"></option>
                        {% endfor %}
                    </datalist></td>
                <td>
                    <input class="Quiz" list="5">
                    <datalist id="5">
                        {% for questions in question %}
                            <option class="character5" value="{{ questions.name_of_question }}"></option>
                        {% endfor %}
                    </datalist></td>
                <td>
                    <input class="Quiz" list="6">
                    <datalist id="6">
                        {% for questions in question %}
                            <option class="character6" value="{{ questions.name_of_question }}"></option>
                        {% endfor %}
                    </datalist></td>
                <td>
                    <input class="Quiz" list="7">
                    <datalist id="7">
                        {% for questions in question %}
                            <option class="character7" value="{{ questions.name_of_question }}"></option>
                        {% endfor %}
                    </datalist></td>
                <td>
                    <input class="Quiz" list="8">
                    <datalist id="8">
                        {% for questions in question %}
                            <option value="{{ questions.name_of_question }}"></option>
                        {% endfor %}
                    </datalist></td>
                <td>
                    <input class="Quiz" list="9">
                    <datalist id="9">
                        {% for questions in question %}
                            <option value="{{ questions.name_of_question }}"></option>
                        {% endfor %}
                    </datalist></td>
                <td>
                    <input class="Quiz" list="10">
                    <datalist id="10">
                        {% for questions in question %}
                            <option value="{{ questions.name_of_question }}"></option>
                        {% endfor %}
                    </datalist></td>
                <td><button class="DeleteUser" type="submit">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>