<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <link rel="stylesheet" href="{{ asset("Styles/AdminPageStyle.css") }}">
</head>
<body>
<ul id="menu">
    <li id ="mainPage"><a href="{{ path('admin') }}">Main Page</a></li>
    <li id = "userPage"><a href="{{ path('admin/useredit') }}">User controller</a></li>
    <li id ="questionPage"><a href="{{ path('admin/questionedit') }}">Question controller</a></li>
    <li id ="quizPage"><a href="{{ path('admin/quizedit') }}">Quiz controller</a></li>
</ul>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody id="users">
        {% for user in users %}
            <tr id= "{{ user.id }}">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td><button data-index={{ user.id }} type="submit">Delete</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
      $(document).ready (function () {
          $("#users").bind("click", function (event) {
              const id = event.target.dataset.index;
              $.ajax({
                  url: "useredit/del",
                  type: "GET",
                  data: ({id: id}),
                  success: function () {
                      $(`[data-index~=${id}]`).parent().parent().remove()
                  }
              })
              
          })
      })
  </script>
</body>
</html>